[2017-05-22 18:56] joseph-allen opened #1 "Issue 1: Add Addition function"
we need a function which takes two integers and returns the sum of those two numbers!

make sure when you push the code you commit with the message OC-1 for this. make sure you open a PR to close this :)

[2017-05-22 18:56] joseph-allen opened #2 "Issue 2: Multiplication function"
we need a function which takes two integers and returns the product of those two numbers!

make sure when you push the code you commit with the message OC-2 for this. make sure you open a PR to close this :)

[2017-05-22 19:39] JornPrengerFormeel commented on #1
o, sorry. didnt look at this first. what is an oc-1 and what is a PR(i think pull request)

[2017-05-22 21:24] joseph-allen commented on #1
no problem, OC-1 is something I would like you to put in your commit message, When you push something to this repository you give it a message when you type git commit
`git commit -m "Your message foes here"`

so for example if you do this task

`git commit -m "OC-1 Add Function"`

PR is indeed Pull Request :)

[2017-05-22 21:46] joseph-allen commented on #1
@jorn600 is working on this one!

[2017-05-22 22:21] joseph-allen commented on #2
@Floempie is working on this

[2017-05-22 23:54] joseph-allen commented on #2
@Floempie merged in , well done!

[2017-05-22 23:54] #2 closed, assigned to nobody

[2017-05-23 05:02] JornPrengerFormeel opened #6 "multiply from floempie doenst work."
my add function then probably also doesnt work, i dont have processing on this pc right now

[2017-05-23 05:38] FreedomGrenade opened #8 "Issue 3: User Interface"
[Treverios](https://www.reddit.com/r/processing/comments/6cpcbj/ourprocessing_ourcalculator/dhwmbm4/)

 semi-suggested a GUI.

Sorry if this is out of line, I just want to get used to using github.

[2017-05-23 09:31] joseph-allen commented on #6
so normally what we do here is this is considered a bug, standard practice is to put a thumbs up on the post/comment if you can duplicate it :)

[2017-05-23 09:39] joseph-allen commented on #6
`float x = multiply(2,5);
print(x);`

in the setup function seems to work well for me! Can you replicate it @jorn600 ?

[2017-05-23 09:49] GideonBuckwalter commented on #8
Sounds good. Maybe someone could start by writing a button class/interface which responds to clicks by calling a function.

[2017-05-23 09:50] joseph-allen commented on #8
@FreedomGrenade this is fine!

The thing is this, in an open source project if somebody picks up this issue we have to create an entire GUI with no plans yet, also the GUI is a big undertaking.

@GideonBuckwalter commented as I wrote this and was exactly correct. Instead somebody should create an issue of a smaller, atomic piece of work.

go ahead and make an issue and let people know you are work

[2017-05-23 09:59] joseph-allen commented on #1
@jorn600 see [This PR](https://github.com/joezcool02/OurCalculator/pull/5/files)

that is one way of doing this. if you don't understand what it is doing let me know and I will try to help.

[2017-05-23 10:00] GideonBuckwalter opened #9 "Issue 4: Answer State Variable"
So I'm thinking about how we're going to store the previous calculation. It would probably be enough to have a global floating-point variable called like `answer` or `prevAnswer`. Whenever a calculation is performed, the result would be stored in this variable, which can then be accessed when we need to draw the answer on the screen.

Eventually (to implement parentheses) it might be good to try m

[2017-05-23 10:01] GideonBuckwalter commented on #9
P.S. Do we need to wait to be assigned things, or could I start working on this and submit an unsolicited pull request?

[2017-05-23 10:03] joseph-allen opened #10 "Issue 5: Button Class"
We need a generic Button Class which will pass two numbers to a function when clicked.

How you define this button class is up to you.

should we be able to pass the location of the button to the button class too? The Size? Or is this not necessary since all the buttons will be the same size?

Is there a way we can write this button in a clever way so we can use it for number buttons too?

[2017-05-23 10:03] joseph-allen commented on #9
just say you are working on it and go ahead :)

[2017-05-23 10:03] joseph-allen commented on #9
I am using the 'help wanted' label for unassigned tasks

[2017-05-23 10:13] JornPrengerFormeel commented on #6
O sorry, yes it works

[2017-05-23 10:14] joseph-allen commented on #6
Closed!

[2017-05-23 10:14] #6 closed, assigned to nobody

[2017-05-23 10:27] JornPrengerFormeel commented on #1
o haha, dient see that one

i understand now

[2017-05-23 10:28] JornPrengerFormeel commented on #1
i will close my pull request

[2017-05-23 10:39] JornPrengerFormeel opened #11 "input variable"
what is a good way of getting a keyboard input into a variable?

[2017-05-23 10:47] JornPrengerFormeel commented on #8
i think a guy would be cool, gets more style then

[2017-05-23 10:48] Floempie commented on #10
I think its best to keep them the same size. But use different colours for numbers and operators.
Maybe even a function in the button that detects if its a number or an operator?

The next question is: How do we decide where to place the buttons?
We could code a grid of buttons, but which button goes where and how to code this the best way?
Maybe use a numbering system: each time we pass the row a

[2017-05-23 10:50] JornPrengerFormeel commented on #10
make a grid of for loops like this:

for(int i = 0; i <= width; i = i + 10)
{
     line(0,0,i,height);
}

[2017-05-23 10:50] JornPrengerFormeel commented on #10
then you can easily count where to place it, instead of guessing

[2017-05-23 10:53] joseph-allen commented on #10
These issues don't need to be solved yet we just need a very generic class :)

[2017-05-23 10:54] joseph-allen commented on #11
[Here](https://processing.org/examples/keyboard.html)
, is this a duplicated of https://github.com/joezcool02/OurCalculator/issues/9 though?

using keyboard for input would be a good way to start so we can test the operators

[2017-05-23 11:12] Floempie commented on #10
What about commenting the code so everyone can read and learn from it??

[2017-05-23 11:38] joseph-allen commented on #10
a good practice is writing code in such a way that it is obvious what it does anyway with good function naming and varaible names. However comment all you like, I won't ask for comments or no comments :)

[2017-05-23 11:42] joseph-allen commented on #1
resolved

[2017-05-23 11:42] #1 closed, assigned to nobody

[2017-05-23 11:45] joseph-allen commented on #11
closing this as not an isolated piece of work

[2017-05-23 11:45] #11 closed, assigned to nobody

[2017-05-23 11:46] joseph-allen opened #13 "Issue 6: Button class to take a string"
The Button Class needs to be updated to take a string on construction and to display that string in the center of itself.

[2017-05-23 11:48] joseph-allen opened #14 "Issue 7: Detect Button Click"
we need to detect when a Button is clicked, then call a function if it is clicked.

[2017-05-23 13:15] JornPrengerFormeel commented on #13
Cant we Just display a text() over the block that is going to be the button

[2017-05-23 13:25] Floempie commented on #13
Something along the way of:
If mousePressed within the boundaries of the button.
Do something.

Inside the button class.

[2017-05-23 13:30] joseph-allen commented on #13
we can do, but this text has to be tied with the Button itself :) and we need the correct position of the text!

if you work on this make sure you say so here

[2017-05-23 13:43] JornPrengerFormeel commented on #13
Cant work today anymore, maybe tonight

[2017-05-23 13:44] JornPrengerFormeel commented on #10
What a shame there is no button() just like a rect function. They should add that.

[2017-05-23 13:45] joseph-allen commented on #13
no problem, this is a hobby project :)

[2017-05-23 13:46] joseph-allen commented on #10
it would be considered clutter I would imagine, most projects dont need buttons. There are libraries you can import tht already have them but writing our own is  a good exercise

[2017-05-23 13:46] JornPrengerFormeel commented on #9
We can Also not do this.

[2017-05-23 16:16] joseph-allen commented on #9
Done!

[2017-05-23 16:16] #9 closed, assigned to nobody

[2017-05-23 16:17] joseph-allen commented on #10
done!

[2017-05-23 16:17] #10 closed, assigned to nobody

[2017-05-23 16:19] GideonBuckwalter commented on #14
I can work on this!

[2017-05-23 16:32] GideonBuckwalter commented on #14
Hey @joezcool02 , I know you told someone else to prefix their commit message with OC-1. For Issue 7, should I prefix mine with OC-7?

[2017-05-23 17:03] joseph-allen commented on #14
that is the general plan, if you forget to I change them when we squash and merge anyway :)

[2017-05-23 17:04] #14 closed, assigned to nobody

[2017-05-23 17:05] joseph-allen opened #17 "Issue 8: Button performs a function when pressed"
not sure if this should take a generic function or not? we could pass the function as a parameter? Or am I thinking in Javascript :P

[2017-05-23 17:09] hschallh commented on #13
On it!

[2017-05-23 17:12] GideonBuckwalter commented on #17
Yeah, I haven't been able to get Processing to play nice with Java 8 function parameters :( What do you think about making something like a `ButtonAction` interface with a `performAction` method? Then each button could store an instance of an implementing class whose `performAction` method would be called whenever the button is clicked. I think it might be hard to carry along state from other part

[2017-05-23 17:35] GideonBuckwalter opened #19 "Issue 9: Create Basic Button Layout"
I think once @hschallh's pull request (#18) is approved, someone should create a bunch of `Button` instances (maybe stored in a list) to give us a working layout for the calculator. That way we can more easily test code while we're writing it.

[2017-05-23 17:47] joseph-allen commented on #19
shall we agree just the numbers 0-9 and a +,x and = button for now?

[2017-05-23 17:48] joseph-allen commented on #17
I guess just pass it a string that is the operator or operand and we can call it from within.

I would imagine in the future we will have global stores of the numbers anyway so all we need is the operator to be passed just as a sting will do '+', '*' or '=' ?

[2017-05-23 17:51] GideonBuckwalter commented on #17
Ok, that seems simpler.

[2017-05-23 17:55] hschallh opened #20 "Issue 10: Subtract function request"
I'd like to use this calculator to prove to my SO just how much money they subtract from my monthly paycheck. Would love to see a subtract button in a future release.

[2017-05-23 17:57] hschallh opened #21 "Issue 11: Divide function request"
Wish I could use this calculator to show my SO how much "half" of my hamburger really is. Could we get a divide function too?

[2017-05-23 17:59] hschallh commented on #19
Might as well add a - and / button in there.

[2017-05-23 18:04] GideonBuckwalter commented on #21
What is a `hamburger`? Is that some new Java 9 datatype? I don't know if we ought to support operations on arbitrarily chosen classes.

[2017-05-23 18:06] hschallh commented on #21
You're probably right. I guess a function that handles two floats would suffice.

[2017-05-23 18:54] joseph-allen commented on #20
@hschallh I was not expecting to read that!

[2017-05-23 18:55] joseph-allen commented on #21
make sure whoever does this handles dividing by zero in a way we expect

[2017-05-23 18:56] joseph-allen commented on #8
closing this as it is too generic for any one person to take right now

[2017-05-23 18:56] #8 closed, assigned to nobody

[2017-05-23 18:59] JimmySticks2001 commented on #20
I can totes do this!

[2017-05-23 19:04] GideonBuckwalter commented on #17
I'll start working on this.

[2017-05-23 19:15] JornPrengerFormeel commented on #21
well if we divide by zero the whole program just screams error everywhere and then the world explodes.

[2017-05-23 19:24] JornPrengerFormeel commented on #21
i did this

[2017-05-23 19:24] JimmySticks2001 commented on #20
#22 I think I did this right.

[2017-05-23 19:58] #13 closed, assigned to nobody

[2017-05-23 20:06] joseph-allen opened #24 "Issue 12: remove unnecessary comments"
we can get rid of the lines like "TASK 10 ----------------------------------------------------------"

feel free to replace them with something short and meaningful if you think it is necessary

[2017-05-23 20:18] Wootai opened #25 "Issue 13: Show results to window"
Create a text area where the results of a function can be displayed.

[2017-05-23 20:25] joseph-allen commented on #25
good idea, I would say this is related to [the basic layout](https://github.com/joezcool02/OurCalculator/issues/19)

[2017-05-23 20:28] JimmySticks2001 commented on #24
I was thinking of cleaning up the comments when I pushed my subtract function but didn't want to step on any toes. Back in my day I was taught to use comments before and after to describe what a function did. Example:
//Takes in two floats, a and b. Returns the float result of subtracting b from a.
float subtract(float a, float b){
  return a-b;
}//end subtract

It's a bit verbose for a simple fun

[2017-05-23 20:29] Praetrorian commented on #19
Let's do a roman number calculator \o/

[2017-05-23 20:34] joseph-allen commented on #24
for me a function called add, which takes two parameters is so trivial I would never comment any of it :P
I was taught to do the same, comment the start of any block and comment its end. When I moved to industry we were taught don't comment just write readable code instead.

Regardless the current comments are overkill, but I was expecting much less competent coders when I started this :)

[2017-05-23 20:36] joseph-allen commented on #19
@Praetrorian that is a completely different project itself :P I will put it under "Maybe Later"

[2017-05-23 20:39] JimmySticks2001 commented on #24
I agree that my above example is a bit much. There is more commentary than actual code. Perhaps we can save verbose commentary for more complex things. I can go ahead and push a commit that removes the current "Issue #" comments.

[2017-05-23 20:47] joseph-allen commented on #24
sure, this is more here despite being a trivial task as an opportunity for somebody to learn Git :)

[2017-05-23 20:50] JimmySticks2001 commented on #24
Good! I need practice. I have only used Git to track my own progress on projects, never collaborating with others. Changing the code will be the easy part. Not wrecking your master branch or pushing old code will be the tricky part for me. I need to learn the best practices for collaborative git usage.

[2017-05-23 20:52] JimmySticks2001 commented on #20
This can be closed as #22 was merged into the master branch.

[2017-05-23 22:29] joseph-allen commented on #24
luckily pull requests kind of make it okay, and quite difficult to really really screw anything up 💃

[2017-05-23 22:29] #20 closed, assigned to nobody

[2017-05-24 01:25] WookiefromNZ opened #27 "Cant use this?"
I have no idea what i am doing here. What is a pull request, what is merge. How do i get the code so i can change it how do I then post it back? Am i just expected to know this stuff? The tutorial was beyond me.

[2017-05-24 02:01] GideonBuckwalter commented on #27
[This](https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/) tutorial? It was a little advanced.
Daniel Shiffman did a pretty good [set of videos](https://www.youtube.com/playlist?list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV) that were helpful to me. Hope this helps :)

[2017-05-24 02:12] WookiefromNZ commented on #27
Thanks Ill check out Dan's videos. I can't seem to do anything other than comment. Yea that's very similar to the ones I've found

[2017-05-24 02:22] WookiefromNZ commented on #27
Nah this seems beyond me. I just wanted to put up my code for the division but I can't figure it out. The tutorials either are too technical or jump all over the place. I just wanted a step by step. Good luck with the calculator anyway :)

[2017-05-24 02:27] #27 closed, assigned to nobody

[2017-05-24 04:55] WookiefromNZ commented on #21
I wasn't sure how to approach the divide by 0 so I only allowed it to return a value when the denominator is NOT 0, else it throws a 'cannot divide by zero' exception, this works for int and float of 0 and 0.0 respectively.

[2017-05-24 04:57] WookiefromNZ commented on #24
I removed comments and the setup draw functions when i was working on the division, so it was less cluttered. Should i have just put the division code in and not removed other stuff?

Im OCD and irregular spacing/messy comments get to me lol.

[2017-05-24 06:03] JornPrengerFormeel opened #30 "issue 14: indent style"
Hey!

An important thing of programming is to keep the code "clean" and consistent.
For this we use indent styles.
My question:"What indent style do you want to use"

Allman:
for(blablabla)
{
     line();
}

K&R:
for(blablabla){
     line();
}

[2017-05-24 06:29] JornPrengerFormeel commented on #19
heck, why don't we make it a duodecimal calculator!

[2017-05-24 06:38] WookiefromNZ commented on #30
One vote for K&R, I like the opening curly bracket on the same line, less whitespace.

[2017-05-24 06:40] JornPrengerFormeel commented on #19
working on this!

[2017-05-24 06:48] JornPrengerFormeel opened #32 "issue 15: button layout"
I'm doing this like this, but if i will add more and more buttons the code will be very long.
any ideas to make more buttons but keep it short

int w = 50;
int h = 50;
int x = 50;
int y = 50;

void setup()
{
  size(600,600);
}

void draw()
{
  buttons();
}

void buttons()
{
  rect(w,h,x,y);
  if(mouseX >= w && mouseY <= w + x && mouseY >= h && mouseY <= h + y & mousePressed)
  {
     fill(0);
  }

[2017-05-24 07:13] JornPrengerFormeel commented on #32
I think this needs to be done with arays?

[2017-05-24 07:22] JornPrengerFormeel commented on #19
Should we do this with arrays?

[2017-05-24 07:31] #32 closed, assigned to nobody

[2017-05-24 10:43] #24 closed, assigned to nobody

[2017-05-24 10:44] joseph-allen commented on #19
we will get the basics done first and then move up if we all want to :)

This ticket is just to make the buttons so will probably just be like 10 lines of creating button objects and invoking their display methods.

[2017-05-24 10:46] joseph-allen commented on #30
good idea to agree consistency early on, big projects normally have a file called contributing or something which contains information like this on how to make a pull request and what styles to use!

[2017-05-24 10:57] JornPrengerFormeel commented on #19
how to i create a button object?
and what is a display method?

[2017-05-24 11:05] JornPrengerFormeel commented on #19
i dont know how to create a button layout using the button class, can someone help?

[2017-05-24 11:14] hschallh commented on #19
[This](https://www.tutorialspoint.com/java/java_object_classes.htm) will be a good place to start with objects and classes.  Our button class is defined in Button.pde, so to create a new object, you'd need to do something like `Button oneButton = new Button(xpos, ypos, "1")`.  You can call `oneButton`'s display method with `oneButton.display()`.

[2017-05-24 11:34] joseph-allen commented on #19
great advice @hschallh , @jorn600 I think you should take this one so you can learn how to create and invoke classes :)

[2017-05-24 11:53] joseph-allen commented on #27
@WookiefromNZ don't worry. Merges are something I still have problems with years into industry, I will do it for you for now but never give up :)

[2017-05-24 11:56] joseph-allen commented on #32
you could pass the arrays but this is something we could in future move to a separate file GUI.pde.
For the ticket just get it working, we can clean it up next :)

[2017-05-24 11:58] joseph-allen opened #35 "Issue 15: Seperate GUI file"
separate the GUI out from the file!

[2017-05-24 13:44] JimmySticks2001 opened #36 "Issue 16: Calculation input method"
I think decisions need to be made about how our calculator will operate. There are [several methods](https://en.wikipedia.org/wiki/Calculator_input_methods) of calculator input to choose from. Chain calculation, infix, and postfix are some of the options. I would vote for chain calculation (the algebraic entry system) where the previously entered equation is calculated upon pressing of another ope

[2017-05-24 14:09] joseph-allen commented on #36
looks good to me, the task here I guess should be to build this string from key presses. Again this is blocked for now until the basic layout is made

[2017-05-24 14:30] ayush-seth commented on #19
I am willing to implement this, perhaps we could use a library for the GUI buttons, like [controlP5](https://github.com/sojamo/controlp5). It makes it really easy.

[2017-05-24 14:31] #21 closed, assigned to nobody

[2017-05-24 14:34] JornPrengerFormeel commented on #19
Oké, could i do that. I was working on it before

[2017-05-24 14:45] joseph-allen commented on #19
We already have a button class since it is a good open source excercise anyway :) @jorn600 you are already doing this with your PR anyway

[2017-05-24 14:46] JornPrengerFormeel opened #37 "Question: selfmade or library"
Should we use a library for the button Latour, or make buttons ourself

[2017-05-24 14:48] joseph-allen commented on #37
make our-self, this is a learning exercise lets learn :)
Also if something is a question/discussion call it instead of Issue-## :)

[2017-05-24 14:55] #19 closed, assigned to nobody

[2017-05-24 14:57] #17 closed, assigned to nobody

[2017-05-24 15:14] JornPrengerFormeel commented on #37
ill close it then

[2017-05-24 15:14] #37 closed, assigned to nobody

[2017-05-24 15:14] JornPrengerFormeel commented on #30
lets close this too

[2017-05-24 15:14] #30 closed, assigned to nobody

[2017-05-24 15:16] joseph-allen commented on #30
this was more of an ongoing discussion than an issue so I agree :)
Generally just try to persist whatever styles you find in the code so far

[2017-05-24 15:16] JornPrengerFormeel commented on #36
will we have ( and ) function for example

4(5-5+3)

this will be 20-20+12=12

[2017-05-24 15:17] JornPrengerFormeel commented on #36
or (4+3)(2+1) this will be 8 + 4 + 6 + 3

[2017-05-24 15:18] jorn600 commented on #35
please remove that comment, it will look like its still blocked

[2017-05-24 15:20] JornPrengerFormeel opened #38 "issue 17: label all the buttons"
We need to label the buttons 1, 2, 3 etc and ofcourse x, -, +, /

[2017-05-24 16:08] hschallh commented on #38
@jorn600 The label is the third argument in the constructor for the button class. Try changing `Button twobutton = new Button(100, 200, "1");` to `Button twobutton = new Button(100, 200, "2");`

[2017-05-24 16:08] joseph-allen commented on #35
good call thanks @jorn600

[2017-05-24 16:18] GideonBuckwalter commented on #38
Hey, I'll do this and put the buttons in the `buttons` ArrayList as well.

[2017-05-24 16:18] JornPrengerFormeel commented on #38
cool!

[2017-05-24 16:49] #38 closed, assigned to nobody

[2017-05-24 16:55] joseph-allen opened #43 "Don't forget to call out that you are working on something!"
Just had three people submit PRs for the same issue, let's stop that from happening.

On the right hand side you can see "Assignees" you should be able to assign yourself to a task there. If not let me know

[2017-05-24 16:57] joseph-allen commented on #43
test it out here if you like :)

[2017-05-24 17:04] JornPrengerFormeel opened #45 "issue 17: * and clear on the bottom"
please make the * sign and the clear sign on the bottom

[2017-05-24 17:04] jorn600 commented on #45
ill work on this

[2017-05-24 17:07] ayush-seth commented on #45
Let's not worry about such aesthetics first and get the basic functionality working? We can polish the looks anytime

[2017-05-24 17:09] ayush-seth commented on #43
I think only owners can assign people to issues, we can't assign ourselves, so you will have to assign people to issues.

[2017-05-24 17:09] joseph-allen commented on #45
agreed, this is a design choice for now. we can do one big design revamp later :)

closing this for now unless somebody wants to reopen it :)

[2017-05-24 17:09] #45 closed, assigned to nobody

[2017-05-24 17:10] JornPrengerFormeel commented on #45
oke, sorry

[2017-05-24 17:11] joseph-allen commented on #43
you are correct, I wasn't sure where the limitations lied. A comment will do then :)

[2017-05-24 17:11] joseph-allen commented on #45
no need to apologies it's open source. If people agree it's a priority it will become one :)

[2017-05-24 17:11] joseph-allen commented on #45
The worst thing you can do is say nothing!

[2017-05-24 17:12] ayush-seth commented on #35
so the buttons being drawn should not be in the main sketch and have a separate class ?

[2017-05-24 17:14] ayush-seth commented on #43
People can comment and then you can assign that person to that particular issue so it will be clear to others

[2017-05-24 17:31] joseph-allen commented on #35
yeah, for now it is okay but as this main file grows it becomes clear that we don't need to see certain things :) also for Open Source projects many separate files can be very helpful!

[2017-05-24 17:32] joseph-allen commented on #43
of course

[2017-05-24 17:33] ayush-seth opened #46 "Getting the user input"
Before we decide, how to interpret the expression and calculate the result, we need to worry about how to get the user input.

There is no native method of getting a string from user in processing, so here are two ways we can go about this:

1. Using a processing GUI library called [controlP5](https://github.com/sojamo/controlp5) which has easy syntax and is very user friendly and easily customiza

[2017-05-24 17:35] ayush-seth commented on #25
#46

[2017-05-24 17:37] ayush-seth commented on #35
I think these should remain in the main sketch because they are elements that are drawn, perhaps we could make a function `createButtons()` that will populate the array list and will be called in setup instead of doing all the work inside setup, but the `createButtons()` function still needs to be in the main sketch

[2017-05-24 17:38] hschallh commented on #46
Is a mouse press over a button not considered user input?

[2017-05-24 17:40] ayush-seth commented on #46
Oh, you are right @hschallh , I don't know what I was thinking, perhaps we could save this for later, to let the user type instead of forcing them to click, like a typical calculator works on a desktop

[2017-05-24 17:41] JornPrengerFormeel commented on #46
We can probably do this without controlp5

[2017-05-24 17:42] hschallh commented on #46
Definitely a next step.

[2017-05-24 17:42] hschallh commented on #46
@jorn600 is right, we could implement this with [keyPressed()](https://processing.org/reference/keyPressed_.html)

[2017-05-24 17:44] ayush-seth commented on #46
@hschallh that will be way more complex, we will have to listen to every key press, and then concat each character and build a string from that, also how do you know that the user has finished entering and that you can compute the expression now? This will be much less complicated with controlP5, where we can just create a text area with a submit button

[2017-05-24 17:49] hschallh commented on #46
We would treat each key press as a button press and compute answers in the exact same way we compute answers from using the GUI.

[2017-05-24 17:50] hschallh commented on #46
But, like you said, something to save for later.

[2017-05-24 17:52] ayush-seth commented on #46
Alright, I'll close this one now and open a new one to build the expression string from button presses.

[2017-05-24 17:52] #46 closed, assigned to nobody

[2017-05-24 20:28] #25 closed, assigned to nobody

[2017-05-24 20:28] #35 closed, assigned to nobody

[2017-05-24 20:50] joseph-allen opened #49 "Issue 17: Update Git Attributes"
[Line Space](https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings)

mac and windows use different line spacing which is bad!

[2017-05-24 21:08] joseph-allen opened #50 "Issue 18: Evaluating Expression"
Evaluate the expression of the current sum

[2017-05-24 21:08] joseph-allen commented on #50
@MasterYushi working on this

[2017-05-24 21:11] ayush-seth commented on #50
Can you assign in to me also, like you self-assigned this? It'll be helpful to see the results of that since I am learning git

[2017-05-24 21:14] joseph-allen commented on #50
it won't let me for now but I swear I saw it happen earlier? my internet is being really slow today so the hot search isn't doing anything

[2017-05-24 21:16] ayush-seth commented on #50
You can try adding me as a collaborator in your repo settings, but that will give me push access to the repo so I'm not sure about what to do here.

Update: Apparently, you can't assign issues to non-collaborators, but it seems to be a requested feature.
This is what I found : https://github.com/isaacs/github/issues/100

[2017-05-24 21:35] joseph-allen commented on #50
I wonder how other large projects do it? From the ones I have worked on people just make pull requests and comment them in the issue

[2017-05-24 21:40] ayush-seth commented on #50
That's just a work around I guess

[2017-05-24 22:54] joseph-allen commented on #50
it is just because I don't want to close requests because somebody already did them. But I suppose we will have to deal with it :)

[2017-05-25 01:05] FreedomGrenade commented on #49
[https://help.github.com/articles/dealing-with-line-endings/](Is this helpful?)

[2017-05-25 08:12] ayush-seth commented on #49
#53 fixes this hopefully

[2017-05-25 08:27] ayush-seth commented on #49
Additional steps, everyone on a windows system, please do the following-

Open up cmd and type, `git config --global core.autocrlf`, if nothing shows up then do the following-

`git config --global core.autocrlf true`

After doing that, make sure it worked by typing `git config --global core.autocrlf` again and you should see `true` being written out.

More info can be found [here](http://adaptive

[2017-05-25 09:01] ayush-seth commented on #50
Okay, I did my research on this and this one is the toughest part of making a calculator, since java is a compiled language, String expressions can't be evaluated as actual code, so the easiest solution is out of the window. This leaves us with the following two ways to deal with -

1. Use a library, like [JEL](http://www.gnu.org/software/jel/)

2. Using the `eval()` function by importing the Scri

[2017-05-25 10:37] joseph-allen commented on #49
Issue resolved but everybody should do the above steps

[2017-05-25 10:40] joseph-allen commented on #50
could we not do something a little more simple like have a number always availible in the store which creates a new string?

press 1 puts 1 in the store.
press 1 again multiples the store by ten and adds one giving 11.

this way we aren't working in strings?

or even have a button that lets us swap which store we are working in?

I would rather the calculator still be in our control than conventio

[2017-05-25 10:48] hschallh commented on #50
@joezcool02 I agree. I don't think we need to over complicate things.  If we are doing an immediate execution calculator, there is no need to evaluate strings.

[2017-05-25 10:59] ayush-seth commented on #50
We will over complicate things by building an immediate expression calculator, we will have to build our own lexer and parser from scratch. Moreover, immediate expression calculator will not take precendence order into account which is not always the desired result, moreover, the `=` button will just be useless then if we evaluate the expression at every button press

[2017-05-25 11:02] ayush-seth commented on #50
On the contrary, using the ScriptEngine parser would look something like this:

[code]

Instead of `"4*5"`, we just pass the the `expression` string and that's it. Surely, this is the least complicated it can get.

[2017-05-25 11:09] joseph-allen commented on #50
okay let's go with this. My only concerns were that we wouldn't have enough to do but I realize when this is done we can just start the next project anyway :)

[2017-05-25 11:10] joseph-allen commented on #50
@MasterYushi I can make you an owner of this repo as well if you are interested in trying out the ownership side of things? Then you will be able to merge as well

[2017-05-25 11:21] ayush-seth commented on #50
@joezcool02 Sure!

[2017-05-25 11:32] ayush-seth commented on #50
I am not suggesting this to be the end of this project, but to start with something simple like this and at least get a working prototype out there that people can use, as this project grows, we can then start building out our own lexer and parser.

[2017-05-25 11:42] joseph-allen commented on #50
of course!

[2017-05-25 16:50] ayush-seth opened #54 "New GUI class"
I have an idea to create a new GUI class for the whole button thing to clean up the main sketch, so you can just say something like `gui.generate()` in the main sketch to make it work. Should this be implemented?

In the long term, this could open up creating multiple gui's and even multiple calculators.

[2017-05-25 16:53] ayush-seth commented on #36
I think we should go for infix, infact that's what is currently implemented and that's how human read expressions

[2017-05-25 17:11] joseph-allen commented on #54
I think it is worthwhile even just to clean up the main sketch.

In my mind math functions shouldn't be in the main sketch either!

[2017-05-25 17:14] ayush-seth commented on #54
As of now we don't need the maths functions for anything since we will be using JEL/ScriptEngine whichever is decided upon

[2017-05-25 17:51] ayush-seth commented on #54
All the proposed changes are in the new branch gui, when it is deemed final, it will be merged with the master branch, leave your comments/suggestions here about improvements or submit a PR yourself to [`gui branch`](https://github.com/joezcool02/OurCalculator/tree/gui)

[2017-05-25 18:28] GideonBuckwalter commented on #54
Looks great!

[2017-05-25 19:00] GideonBuckwalter commented on #54
Are we planning on keeping these two branches separate, or will they be merged soon? I just want to know if I should be working off of the `gui` branch or `master`.

[2017-05-25 19:09] ayush-seth commented on #54
This will be merged as soon as the gui changes are confirmed final, if you want to improve the gui, or work on something related to gui, commit on gui branch, if it is completely something else then commit on master.

The point of this branch is to keep gui seperate until it is perfected, which it is not currently.

One thing you could work on is adding a del button that will delete the last chara

[2017-05-25 19:17] GideonBuckwalter commented on #54
Ok, well I'd like to retry adding the button flashing behavior I was working on. Is that too unrelated for the `gui` branch? If so, I'll probably have to wait until your branch is merged because my changes – if written for the `master` branch – will probably conflict with `gui`.

[2017-05-25 20:36] ayush-seth commented on #54
If that requires editing only the button class, you can do so in either of the branches, if you will need to do some other changes, I would suggest you do it in the gui branch since buttons are a part of gui

[2017-05-25 20:41] joseph-allen commented on #54
I would say things like the delete button are there own seperate issue. Just get a GUI in asap :)

[2017-05-25 20:45] ayush-seth commented on #54
@joezcool02 We already have a working gui

[2017-05-25 20:58] joseph-allen commented on #54
oh yeah, whoops!

[2017-05-25 21:34] ayush-seth opened #56 "Big Step Forward"
I have now completed it and got the evaluation part working with some bugs, obviously, left for all of you to find, and possibly fix them yourself. I already took care of some possible bugs like user entering an invalid expression.

I will commit these changes into a new `eval` branch and it will remain seperate till it is finalized and the bugs are fixed. You can leave your views and suggestions

[2017-05-25 22:27] #49 closed, assigned to nobody

[2017-05-25 22:27] joseph-allen commented on #56
@MasterYushi lets close all current issues and then use this thread to decide what to work on next with everybodys input :)

[2017-05-25 22:34] ayush-seth commented on #56
I think this should be just for discussion, any new feature requests or bugs should have their own issue so they can be connected to commits resolving them.

I closed all the resolved issues for now

[2017-05-25 22:36] ayush-seth commented on #50
This has been implemented now in the new `eval` branch so I'll close this one.

[2017-05-25 22:36] #50 closed, assigned to joseph-allen, ayush-seth

[2017-05-25 22:37] ayush-seth commented on #36
This will be closed for now, unless we decide to change input method in future since this is already resolved.

[2017-05-25 22:37] #36 closed, assigned to nobody

[2017-05-25 22:38] ayush-seth commented on #54
The gui branch is merged with master now

[2017-05-25 22:38] #54 closed, assigned to ayush-seth

[2017-05-25 22:44] joseph-allen commented on #56
great, thank you very much for doing that!

[2017-05-26 08:49] FreedomGrenade opened #58 "Issue 19: Minor fixes"
- [x] Add brackets and decimal - I think this might be as simple as adding buttons, at the moment I can't think of any reason an invalid bracket syntax would pass to the display.
- [x] Calculator division:  Division returns a float, and often it's too big for the display.
An easy fix for this is to recast it, but maybe increase display? or Shrink text?
`gui.expression.append((answer instanceof Dou

[2017-05-26 09:03] ayush-seth commented on #58
Brackets and decimal will be added soon, keep one issue for a single topic/problem.

This bug can be fixed easily, we can round of the final answer to a specific number of decimal places, we need to decide first how many decimal places to keep and then I can fix it.

[2017-05-26 09:13] FreedomGrenade commented on #58
But I really wanted to use the tags.

[2017-05-26 12:53] ayush-seth commented on #58
What tags?

[2017-05-26 14:14] ayush-seth commented on #58
@joezcool02 What do you think, should the decimal places be fixed to two?

[2017-05-26 14:24] joseph-allen commented on #58
I feel like we should just go as precise as Java lets floats go anyway? But I haven't really looked into how the calculator works

[2017-05-26 14:25] ayush-seth commented on #58
@joezcool02 I am going to commit a delete button, decimal button and parentheses just now, you can pull and check it yourself

[2017-05-26 14:29] joseph-allen commented on #58
will do @MasterYushi

[2017-05-26 14:29] joseph-allen commented on #58
again things like this need Issues as well in my opinion

[2017-05-26 14:30] ayush-seth commented on #58
@joezcool02 I have the commit ready to be pushed, we can create a new issue for features: decimal, delete and parentheses buttons.

This issue already mentions these problems though

[2017-05-26 14:50] joseph-allen commented on #58
oh yes, this issue is named too ambiguously.
make a PR and I will merge it :)

[2017-05-26 14:52] ayush-seth commented on #58
@joezcool02 I am not sure if you are aware that since I have push rights to this repo now, anything I push from my local clone will directly be commited, that's why I am using branches for my new commits, which will be merged into master whenever decided.

[2017-05-26 15:36] joseph-allen commented on #58
you can still fork it yourself I believe to keep the process the same? I may be wrong I have never done it

[2017-05-26 15:40] ayush-seth commented on #58
Yes I can but I deleted the fork since keeping it synced is a nuisance and introduces new unwanted "merge" commits which makes it messy. So I just cloned this one directly.

So far, I've been creating new branches for big commits and pushing the small ones directly, this one a small one which just adds a few lines so I was going to commit it directly into `eval` branch but now that I think about i

[2017-05-26 18:44] ayush-seth opened #61 "Learning git"
I found this amazing write up about contributing to projects through forks. Just thought this should be shared here so that everyone can learn from it. Go ahead and give it a good read-

http://blog.scottlowe.org/2015/01/27/using-fork-branch-git-workflow/

**Update-**

Another site that I found has extremely good articles on everything related to git - https://www.atlassian.com/git

[2017-05-26 20:18] joseph-allen commented on #61
[This](http://learngitbranching.js.org/) is my go-to learn git site.

It is not very open source focused at all but I love online interactive learning tools

[2017-05-26 20:52] FreedomGrenade commented on #58
@MasterYushi  by tags I just mean the task list markdown.

[2017-05-26 20:53] ayush-seth commented on #58
We can keep it that way, one of them has been fixed. What do you mean by *Calculator appends new input to the Old: ie sequence 5.+.5.=.1.2 = 1012*? Can you be a little more elaborate?

[2017-05-26 22:25] GideonBuckwalter commented on #61
I haven't had a chance to look at @joezcool02 's link yet, but @MasterYushi 's was super helpful. Thanks for posting! I made a [flowchart summary](https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=GitHub%20_Fork%20and%20Branch_%20Workflow.xml#R7V3Lcts4Fv2WWbhmNnLxTWppK1GSmiSdSnqqO0uahCTGFKHmw7L76wcAAZIAKJmSQIjJjBcuEQJfwLnnPgHd2Ivt87s83G0%2BwRikN5YRP9%2FYb24sa27P0X%2

[2017-05-27 01:48] FreedomGrenade commented on #58
@MasterYushi

Entering 5+5=   leaves an answer of 10 in the display.
Any further button presses treat the 10 as if the user just entered it as 1, 0
The makes sense with operators, but with other numbers It seems wonky.
I mean, I don't think it's a big deal, but regular physical calculators usually clear the input if a new expression is being entered.

[2017-05-27 01:51] FreedomGrenade opened #62 "Issue 20: Add memory buttons."
What do you guys think?  Memory clear, recall, add, subtract, possibly swap??

[2017-05-27 02:00] FreedomGrenade opened #63 "Question about branches."
Ok so I understand that if you want to make changes you should make a new branch.
Now what I'm not sure about is when there is another branch with proposed changes, but you want to make additional changes to that branch should you make another 3rd 'feature' branch?

Like with 'eval' should you create a branch called 'eval_add_blah_blah'?

If so, how do those typically get merged.   Would you merge

[2017-05-27 02:04] FreedomGrenade opened #64 "Issue 21: Repeating calculation."
Alright, so you know when you enter something like [3][*][2][=] then keep hitting[=] the calculator will keep multiplying by 2?
You guys think we should add this?

[2017-05-27 03:16] joseph-allen commented on #62
shouldn't be too hard

[2017-05-27 03:19] joseph-allen commented on #63
it depends I suppose?

if you were going to make two features you would branch off master with:
master -> feature_1
master -> feature_2

then if you wanted to fix a bug on feature_1 I would just say make another commit on the feature_1 branch.

We would then merge the feature_1 branch into master which would have both the original commit and the bugfix included. Is that answering your question?

[2017-05-27 03:20] joseph-allen commented on #64
I think our calculator should behave as much like a physical calculator as possible. It shouldn't be too hard to store the last operator and operand, although we are using some sort of engine already so we will need somebody more familiar to answer.

[2017-05-27 07:34] ayush-seth commented on #64
I'll have to try this out first

[2017-05-27 07:39] ayush-seth commented on #58
Yes, that happens currently, so you want the answer to be cleared on a new button press after = is pressed?

[2017-05-27 07:41] FreedomGrenade commented on #58
Yea!, but just for numbers (and brackets i guess).  It's useful for operators.

[2017-05-27 07:45] ayush-seth commented on #58
I don't get the operator thing, any valid input wouldn't end with an operator, it can only end with a number or a bracket

[2017-05-27 07:50] FreedomGrenade commented on #64
I was thinking about this:
[code]

or something

[2017-05-27 07:51] FreedomGrenade commented on #58
I mean the button pressed after [=], just clear if it's a number or bracket

[2017-05-27 08:03] ayush-seth commented on #58
That would create confusion if it clears sometimes and sometimes it doesn't, we should decide on one

[2017-05-27 08:12] FreedomGrenade commented on #58
I don't know, Personally I think it makes sense.
If there's an answer in the display and + is pressed I think its fair to assume they want to add the previous answer.
But if there's and answer, and a number or bracket is pressed then it represents a new expression.

[2017-05-27 08:14] FreedomGrenade commented on #58
I mean do it one way or another, it can always be changed later.
Fits the purpose of this whole project anyhow.
Plus who knows, if we keep going, we might even completely change how buttons, calculator works.

[2017-05-27 08:17] ayush-seth commented on #58
How the evaluation is done is very likely to change soon, because we are using a script engine right now which is not the most efficient but gets the work done. I'll see what I can do

[2017-05-27 11:56] ayush-seth commented on #63
if you want to add to a branch on the main project, make a branch off the branch you want to add to in your fork and then do a PR to merge them.

Example, you want to add to eval, make a branch off eval in your fork, not off master.

[2017-05-27 12:06] ayush-seth commented on #62
Can you explain each one a little better? With example input and output

[2017-05-27 14:15] joseph-allen commented on #62
A lot of Calculators I have used have a "memory" button that lets you store your current value as something you can bring in at any future point.

@FreedomGrenade may correct me. But if you do 2 + 2 =. You will have 4 in your register. then pressing M will store that 4 elsewhere.

I would wait because I just tried it on my calculator and I am confused :P

[2017-05-27 23:08] FreedomGrenade commented on #62
Pretty much like that.

[2017-05-28 13:49] ayush-seth commented on #58
@joezcool02 Part 3 of this issue is fixed, I will be sending a PR soon, what should I do about part 2 of this issue? I want to fix it in the same PR so we can close this issue

[2017-05-29 17:03] ayush-seth commented on #58
All of this is fixed in PR #66

[2017-05-29 18:18] joseph-allen commented on #58
merged and done :)

[2017-05-29 18:18] #58 closed, assigned to ayush-seth

[2017-05-30 11:16] #63 closed, assigned to nobody

[2017-05-30 11:17] #43 closed, assigned to joseph-allen

[2017-05-30 11:20] ayush-seth commented on #62
I thought about it and I have come to the conclusion that it won't be useful in this case, because everytime you run the app, all the data will be cleared so it doesn't make sense to have memory buttons to store a value just for one time use. On a physical calculator, memory is retained even after you turn the calculator off so it is useful

[2017-05-30 12:27] joseph-allen commented on #62
I think it is good as a simple learning project for somebody, whoever does that issue will in turn become familiar with this project as a whole.

[2017-06-01 04:36] akathewb opened #68 "Calculator should add numbers"
Calculator should
add numbers
then display the total when the = button is pressed
when a new number is pressed it should clear the total and start adding the new numbers

(I already wrote some code to do this, would like to send a pull request and see if I'm doing the git collaboration right, as I reread the git tutorials you all posted)

[2017-06-01 04:51] akathewb commented on #61
Coding Train "[github for poets](https://www.youtube.com/playlist?list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV)" series helped me wrap my head around some basics. The links you all have are more detailed about collaborating on git hub, and because I had seen the videos beforehand made your links make more sense to me.

The flowchart is super handy btw @GideonBuckwalter

[2017-06-01 05:04] akathewb commented on #68
Just discovered the eval branch that has a bunch of updates in it including adding.
Should I be branching off the eval branch when working locally?

[2017-06-01 07:54] ayush-seth commented on #68
It's up to you, you can branch off master or eval, it doesn't matter because you will delete your branch at the end anyways, regarding your PR, we already have a pretty functional calculator, checkout eval branch on your local system using git cli and then open the project and run it to see what works and what doesn't

[2017-06-01 11:06] joseph-allen commented on #68
we should pull the eval branch back into master at some point, beginners won't know to check the eval branch and Iwouldn't expect it to be there

[2017-06-01 11:34] ayush-seth commented on #68
since the calculator is essentially bug free (we do not have any known bugs to fix), let's just merge them

[2017-06-01 22:32] joseph-allen commented on #68
go for it, if we are going to work in separate branches it needs to be in the readme or something otherwise new contributors are lost

[2017-06-02 02:25] akathewb opened #69 "Issue with the stroke around the buttons"
When I first start the calculator all the stroke lines are around the buttons, then after a bit of time passes making calculations the stroke of the shapes end up all  pulled to one side. ( see image below)

![image](https://cloud.githubusercontent.com/assets/23046037/26708161/f3a2ba08-46fe-11e7-8c8a-1e3267c9b065.png)

[2017-06-02 10:02] joseph-allen commented on #69
incredible! how do you trigger this just perform a few sums?

[2017-06-02 10:02] #68 closed, assigned to nobody

[2017-06-02 10:06] ayush-seth commented on #69
Can you consistently and without variation, reproduce this bug every time you run the calculator?

[2017-06-02 10:34] ayush-seth opened #71 "[Idea] Add different colour themes"
It would be an interesting project to somehow add different themes the user can select from, http://paletton.com/ is a helpful site for creating theme palletes, this one would be a good challenge.

For example, the blue theme could look like [this](http://paletton.com/#uid=13L0u0kllllnVt7mqrPkgeRiLdz):

![image](https://cloud.githubusercontent.com/assets/24858182/26722335/192194d0-47ad-11e7-940b-8

[2017-06-02 10:47] ayush-seth opened #72 "Weird results when adding 0 before numbers"
I found this weird bug when messing around with the calculator, `021` -> `=` -> `17` for some unknown reason, seems to work fine with numbers 1-9, like `09` -> `=` -> `9` is correctly shown but going over 10 breaks things.

`055` -> `=` -> `45`
`0212` -> `=` -> `138` and so on.

Here's a gif of the bug:

![bug](https://cloud.githubusercontent.com/assets/24858182/26722740/f61ceb90-47ae-11e7-96bf-89

[2017-06-02 11:05] joseph-allen commented on #72
is this because we treat it as a string until we use an operator?

we could perhaps resolve this by evaluating the string before button update?

alternatively perform a sum on each button click.
As in:
pressing 1 then 2 is actually the same as performing 1*10 + 2
so we just multiply the current store by 10 and add our next number?

[2017-06-02 11:06] joseph-allen commented on #71
store the colors used so far as something like
"primary"
"secondary"
"flash" and then use the color scheme in those variables?

[2017-06-02 11:06] joseph-allen commented on #69
it's common on projects like this to comment here if you can reproduce it,
then thumb that comment up if somebody else can reproduce and so on

[2017-06-02 11:10] ayush-seth commented on #72
Are you familiar with the code? The whole `expression` is always a string which is appended to, to make an expression, when `=` is pressed, the string is passed into `ScriptEngine` which looks at the string as a piece of JavaScript code and hence evaluates it and does the math, returns the result as an `Object` which is converted to String and overwritten in `expression` and displayed

[2017-06-02 11:12] joseph-allen commented on #72
not really to be honest.

could we not evaluate the button presses before we update the string? that would solve this anyway

[2017-06-02 11:12] ayush-seth commented on #71
storing is not the hard part, the hard part is how to let the user select the theme? Radio-buttons? Dropdown? something else?

And whatever we choose, should we implement it from scratch? Or use a library, or perhaps built in java swing gui functions?

[2017-06-02 11:13] ayush-seth commented on #69
My calculator has been running for 20 minutes now doing calculations, not been able to reproduce this

[2017-06-02 11:16] ayush-seth commented on #72
How would that solve it? I am not sure what is causing this

[2017-06-02 11:30] ayush-seth commented on #72
Actually, this is interesting, this has something to do with javascript, open up your console and type these numbers with and without `0` and hit enter, you will find similar results

[2017-06-02 11:42] joseph-allen commented on #71
for now just start by letting the user use a key press to cycle through color schemes maybe, then add GUI as a separate ticket later. keep it small.

[2017-06-02 11:42] joseph-allen commented on #72
that makes sense since we are using a JS engine

[2017-06-02 11:45] ayush-seth commented on #72
Okay I think I know what's happening, leading zeros make the javascript engine think that the value is an octal instead of decimal and it converts it into decimal

[2017-06-02 11:50] joseph-allen commented on #72
I think it is probably just treating it as a string, as far as i know there is no appending to numbers so by performing 1 + '1' the outcome is a string '11'

[2017-06-02 12:01] ayush-seth commented on #71
Looks good?

![image](https://cloud.githubusercontent.com/assets/24858182/26724896/5892cef2-47b9-11e7-9fbb-0aadbfcb07dc.png)

[2017-06-02 12:04] ayush-seth commented on #72
@joezcool02 You should probably get familiar with the code first 😛

[2017-06-02 12:11] ayush-seth commented on #72
I confirmed this, it is treating the numbers as octals.

Octal 55 = decimal 45
Octal 21 = decimal 17

http://www.rapidtables.com/convert/number/octal-to-decimal.htm

[2017-06-02 18:28] joseph-allen commented on #72
nice! and weird!

[2017-06-02 18:28] joseph-allen commented on #71
is the ticket to change the colors or to make it easier for us to change colors?

[2017-06-02 18:28] joseph-allen commented on #71
but yes it looks good

[2017-06-02 19:36] ayush-seth commented on #71
It is just an idea/discussion at this point, I will open issues whenever I decide on working on them, I am currently trying to fix the octal bug thingy

[2017-06-03 04:02] akathewb commented on #69
Yes, I can run the program and in less then 30 seconds (without interacting with the calculator) the stokes end up like my screen shot above. It seems that performing calculations does not seem to matter.

So weird. I've tried to hunt for references to anything like this in other forums, but can find any. Was thinking of posting a processing github issue. I'm thinking it is not the calculator prog

[2017-06-03 17:11] akathewb commented on #72
exp = exp.replaceAll("(?<!\\d)0+(?=\\d+)", "");

After a bunch of searching and learning about regular expressions, I think we can use the above code to remove leading zeros before putting through the engine.eval() function.

Stack Overflow:
https://stackoverflow.com/questions/14048285/java-regex-to-strip-all-leading-zeros-in-a-delimited-string

Regular Expression Tutorial:
http://www.ocpsoft.org/

[2017-06-03 17:44] ayush-seth commented on #72
@akathewb Nice solution, but there is one problem with your regex, it will match `00` and `000` and so on and replace them with `""` which will cause problems.
For example, as a user of the calculator you would expect `4*00` to be reduced to `4*0` and hence get the result `0`. But this regex will replace the `00` with `""` and hence `4*` will be passed into eval and would return Invalid Input

[2017-06-03 19:22] joseph-allen commented on #69
is it instantaneous or gradual?

wht resolution is your monitor?

[2017-06-03 20:22] akathewb commented on #72
Seems to be working for me, and did not throw an error.
I tried `4*00` and `4*0` and both returned the value 0.

[2017-06-03 20:28] ayush-seth commented on #72
Hmm, weird, because in theory, it should match because it matches one or more zeros not following any any digit but followed by a digit which includes 0-9, infact it matches `00` on [this regex tester]((?<!\d)0+(?=\d+))

[2017-06-03 20:30] ayush-seth commented on #72
I guess it works because it captures only 1 `0` out of them and removes it leaving just a `0` out of `00`. As you can see in the regex tester, only one `0` is matched/highlighted. Nice work! you can send in a PR

[2017-06-03 20:58] akathewb commented on #72
Thanks! PR sent :)

[2017-06-03 21:06] akathewb commented on #69
Instant.

I have two monitors one is the laptop monitor which is 1366x768, and the other is an LED Monitor 1600x900.

I'm running Windows 10, 4GB RAM, Intel(R) Celeron(R) CPU N2815 @ 1.86Ghz, 64-bit Operating System.

[2017-06-03 21:35] joseph-allen commented on #69
our button class takes a fixed size, I assume at some point something is changing. we use rect() so we aren't even controlling the drawing of these lines ourself.

needs proper investigation really

[2017-06-04 02:39] akathewb commented on #72
Found an error with the previous regexp where 00.003 returns 0.3
The expression is removing zeros after the dot! Yikes!
adding the \\d | \\. skips digits and dots and fixes this behavior.

exp = exp.replaceAll("(?<!\\d | \\.)0+(?=\\d+)", "");

I will update and post a new PR

More References:
Negative Lookbehind: http://www.rexegg.com/regex-lookarounds.html
Dot skipping: https://stackoverflow.com/

[2017-06-04 10:22] joseph-allen commented on #72
it's nice to meet somebody who can actually write regex XD

[2017-06-04 13:44] #72 closed, assigned to ayush-seth

[2017-06-04 18:58] akathewb commented on #69
Also posted an issue here for reference:
https://github.com/processing/processing/issues/5109

What build of processing are you all using? (folks in the other forum asked if we are all using the same)
I'm running 3.3.3-64bit for Windows

[2017-06-04 19:26] ayush-seth commented on #69
I am running the latest one

[2018-05-30 13:52] Jitender46559 commented on #69
In which language i have to write code can anyone answer